<body>
  <div id="backtotop" (click)="scrollToTop()" *ngIf="isScrolled">
    <i style="color: #fff;" class="fa-solid fa-chevron-up"></i>
  </div>

  <div class="main-footer">
    <div class="content-footer">
      <h3 style="color: #F17722;">Tài trợ bởi</h3>
      <a href="#">
        <img src="../assets/Images/logo-pops.jpg" alt="pops">
      </a>
      <p>@Copyright 2021 Game4v, All rights reserved.</p>
      <p>Giấy phép thiết lập mạng xã hội trên mạng số 170/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 04 tháng 04
        năm 2022.</p>
      <p>Chịu trách nhiệm nội dung: Nguyễn Thị Hồng Yến.</p>
    </div>
    <div class="content-footer">
      <h3 style="color: #F17722;">Thông tin</h3>
      <ul>
        <li>
          Liên hệ quảng cáo: <a href="https://game4v.com/">Game4V</a>
        </li>
        <li>
          <a href="">Chính sách bảo mật</a>
        </li>
        <li>
          Email: <a href="">phamnhattan11112001@gmail.com</a>
        </li>
        <li>
          <a href="">Thông tin khác</a>
        </li>
      </ul>
    </div>
    <div class="content-footer-item">
      <h3 style="color: #F17722;">Mạng xã hội</h3>
      <div class="icon-app">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-twitch"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<!-- <script>
  $(document).ready(function(){
    $(window).scroll(function(){
      if($(this).scrollTop()){
        $("#backtotop").fadeIn();
      } else {
        $("#backtotop").fadeOut();
      }
    });
    $("backtotop").click(function(){
      $('html, body').animate({
        scrollTop: 0
      }, 1000);
    });
  });
</script> -->
