<div class="main-home">
  <div class="home-content">
      <div class="home-content-item">
        <h3>Monkey.D.Luffy</h3>
        <img src="../assets/Images/luffy_wanted.jpg" alt="">
        <p>Luffy là người sáng lập và là thuyền trưởng của băng Hải tặc Mũ Rơm, được xem là nhân vật mạnh nhất nhóm Mũ Rơm (Straw Hat) sở hữu sức mạnh của trái ác quỷ Gomu Gomu đem lại cho cậu khả năng co giãn các bộ phận như cao su đồng thời là người duy nhất hiện tại trong nhóm sử dụng thành thục được ba loại sức mạnh của Haki.</p>
      </div>
      <div class="home-content-item">
        <h3>Roronoa Zoro</h3>
        <img src="../assets/Images/zoro_wanted.png" alt="">
        <p>Roronoa Zoro, biệt danh "Thợ săn hải tặc" Zoro là một nhân vật hư cấu và là một trong những nhân vật chính của loạt anime và manga One Piece của Eiichiro Oda. Xuất thân từ một "Thợ săn Hải Quân", Roronoa Zoro là thành viên đầu tiên được Monkey D. Luffy mời vào băng hải tặc Mũ rơm.</p>
      </div>
      <div class="home-content-item">
        <h3>Vinsmoke Sanji</h3>
        <img src="../assets/Images/sanji.png" alt="">
        <p>Vinsmoke Sanji (サンジ Sanji) biệt danh Chân Đen (黒脚 Kuro ashi) một nhân vật hư cấu trong anime và manga One Piece của Eiichiro Oda với vai trò là đầu bếp của Băng Hải tặc mũ rơm. Anh sinh ra ở North Blue, con trai thứ 3 (サン san cũng có nghĩa là số 3) thuộc dòng dõi gia tộc sát thủ Vinsmoke.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
      <div class="home-content-item">
        <h3>Shanks</h3>
        <img src="../assets/Images/shanks.png" alt="">
        <p>Xuân Tóc Đỏ hay Shanks Tóc Đỏ (赤髪のシャンクス, Akagami no Shankusu) là tên cướp biển đã truyền cảm hứng cho Luffy tiếp tục cuộc hành trình của mình và là Thuyền trưởng của Băng hải tặc Tóc Đỏ . Ông cũng là một trong những yonku.</p>
      </div>
  </div>
</div>
<!-- <div>
  <app-footer></app-footer>
</div> -->
